<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>detail</key>
		<array>
			<dict>
				<key>icon</key>
				<string>avatar_default_small.png</string>
				<key>title</key>
				<string>新的好友</string>
				<key>remark</key>
				<string></string>
			</dict>
			<dict>
				<key>icon</key>
				<string>avatar_default_small.png</string>
				<key>title</key>
				<string>微博等级</string>
				<key>remark</key>
				<string>连续登录天数</string>
			</dict>
		</array>
		<key>group</key>
		<string>基本</string>
	</dict>
	<dict>
		<key>detail</key>
		<array>
			<dict>
				<key>icon</key>
				<string>avatar_default_small.png</string>
				<key>title</key>
				<string>我的相册</string>
				<key>remark</key>
				<string></string>
			</dict>
			<dict>
				<key>icon</key>
				<string>avatar_default_small.png</string>
				<key>title</key>
				<string>我的点评</string>
				<key>remark</key>
				<string></string>
			</dict>
			<dict>
				<key>icon</key>
				<string>avatar_default_small.png</string>
				<key>title</key>
				<string>我的赞</string>
				<key>remark</key>
				<string></string>
			</dict>
		</array>
		<key>group</key>
		<string>我的</string>
	</dict>
	<dict>
		<key>detail</key>
		<array>
			<dict>
				<key>icon</key>
				<string>avatar_default_small.png</string>
				<key>title</key>
				<string>微博支付</string>
				<key>remark</key>
				<string>参与众筹抽豪礼</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>avatar_default_small.png</string>
				<key>title</key>
				<string>微博运动</string>
				<key>remark</key>
				<string>每天10000步，你达标了吗？</string>
			</dict>
		</array>
		<key>group</key>
		<string>活动</string>
	</dict>
	<dict>
		<key>detail</key>
		<array>
			<dict>
				<key>icon</key>
				<string>avatar_default_small.png</string>
				<key>title</key>
				<string>粉丝头条</string>
				<key>remark</key>
				<string>推广博文及账号的利器</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>avatar_default_small.png</string>
				<key>title</key>
				<string>粉丝服务</string>
				<key>remark</key>
				<string>橱窗、私信、营销、数据助手</string>
			</dict>
		</array>
		<key>group</key>
		<string>粉丝</string>
	</dict>
	<dict>
		<key>detail</key>
		<array>
			<dict>
				<key>icon</key>
				<string>avatar_default_small.png</string>
				<key>title</key>
				<string>草稿箱</string>
				<key>remark</key>
				<string>5</string>
			</dict>
		</array>
		<key>group</key>
		<string>草稿</string>
	</dict>
	<dict>
		<key>detail</key>
		<array>
			<dict>
				<key>icon</key>
				<string>avatar_default_small.png</string>
				<key>title</key>
				<string>我的文章</string>
				<key>remark</key>
				<string></string>
			</dict>
			<dict>
				<key>icon</key>
				<string>avatar_default_small.png</string>
				<key>title</key>
				<string>我的收藏</string>
				<key>remark</key>
				<string></string>
			</dict>
		</array>
		<key>group</key>
		<string>更多</string>
	</dict>
</array>
</plist>
